/* GENERAL */
$bottomColor: rgb(42, 41, 41);
$orange: #FF9800;
$darkGrey: #262626;


@font-face {
  font-family: "BrandonGrotesque-Bold";
  src: url("/fonts/BrandonGrotesque-Bold.otf");
}

@font-face {
  font-family: "BrandonText-Regular";
  src: url("/fonts/BrandonText-Regular.otf");
}

h1 {
  font-size: calc(1.5rem + 2.5vw);
  font-family: "BrandonGrotesque-Bold";
  z-index: 5;
}

h2 {
  font-size: calc(1.5em + 1vh);
  font-family: "BrandonGrotesque-Bold";
}

h3 {
  font-size: 2.5em;
  font-family: "BrandonGrotesque-Bold";
}

p {
  z-index: 5;
  font-family: "BrandonText-Regular";
  line-height: 1em;
}

.logo {
  background-color: #2D2D2D;
  padding: 10px 30px;
  width: 180px;
  background-color: rgba(255, 255, 255, .1) !important;
}

.button {
  margin-top: 2%;
  z-index: 5;
  font-family: "BrandonText-Regular";
  background-color: $orange;
  border: none;
  padding: 7pt 10pt;
  margin-bottom: 30px;
  color: white;
  text-decoration-line: none;
  font-size: 1.5em;

  &:hover {
    background-color: lighten($orange, 5%);
    text-decoration-line: none;
    color: white;
  }
}

/* NAVBAR */
.navbar-dark {
  background-color: rgba(0, 0, 0, 0) !important;
}

.navbar {
  position: absolute;
  top: 0;
  padding: 0;
  z-index: 20;
  width: 100%;

  .navbar-toggler {
    margin: 10px 15px;
    float: right !important;
    border: none;
    color: white;

    &:focus {
      outline: 0px !important;
    }
  }

  .navbar-collapse {
    padding: 5px !important;
  }

  a {
    font-family: "BrandonText-Regular";
    color: white !important;
    z-index: 5;

    &:hover {
      text-decoration: none;
      color: $orange !important;
    }
  }
}

/* HOME */
#home {
  min-height: 100vh;
  padding-top: 10vh;
  background: #0c0c0c;
  color: white;

  .text {
    padding-left: 10vw;
  }

  .bgColor {
    padding: 0 7vw;
    background: linear-gradient(rgba(0, 0, 0, .6), transparent);
    max-width: 100vw;
  }

  h1 {
    padding-right: 30px;
  }

  p {
    margin-top: .5em;
    padding-right: 30px;
    font-size: calc(1rem + 1vw);
  }

  .illustration {
    position: absolute;
    top: 0;
    right: 5vw;

    img {
      max-height: 100vh;
      max-width: 90vw;
      mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0));
      overflow: hidden;
    }
  }
}

/* CONCEPT */
#concept {
  min-height: 100vh;
  background-image: url("/images/backgrounds/background_vagues_top.jpg");
  background-position: bottom;
  display: flex;
  padding: 5vh 0;

  .row {
    margin-right: 0;
    margin-left: 0;
  }
}

/* PRICING */
#pricing {
  min-height: 100vh;
  background-image: url("/images/backgrounds/background_vagues_bottom.jpg");
  background-position: top;

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .text {
    margin-bottom: 3vh;
  }

  .pricing_card {
    width: 300px;
    height: 500px;
    border-radius: 0;
    border: none;
    background-color: $darkGrey;
    color: white;
    transition: transform .3s;

    &::after {
      transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 5), 0 6px 20px 0 rgba(0, 0, 0, .15);
    }

    &:hover,
    &:focus {
      transform: scale3d(1.020, 1.020, 1);
    }

    &:hover {
      border-radius: 0;
    }

    h3 {
      color: $orange;
    }

    .pricing {
      font-size: 4rem;
      font-weight: bold;
      margin: 0;
    }

    .subscription {
      font-size: 1.6em;
    }

    .fonction {
      margin-top: 40px;

      .presentation {
        font-size: 1rem;
        line-height: 0.5em;
      }
    }

    .plus {
      margin-top: 70px;

      a {
        font-size: 3rem;
        text-decoration: none;
        color: $orange;

        &:hover {
          color: lighten($orange, 10%);
        }
      }
    }
  }
}

/* MEDIAS */
#medias {
  margin-top: -20vh;

  .bg_gradient {
    background: linear-gradient(
                    top,
                    transparent 0%,
                    transparent 10%,
                    $orange 10%,
                    $orange 90%,
                    $bottomColor 90%,
                    $bottomColor 100%
    );
    min-height: 120vh;
  }

  #speakers, #prices {
    background-color: #fff;
    padding: 50px 0;
    min-height: 55vh;
    display: flex !important;
    align-items: center !important;

    img {
      object-fit: contain;
      min-width: 150px;
      min-height: 150px;
      width: 10vw !important;
    }

  }

  #prices {
    margin-top: 10vh;
    align-content: flex-end;
  }
}

/* CONTACT */
#contact {
  color: white;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background: darken($darkGrey, 5%);

  form {
    max-width: 400px;
  }

  input {
    height: 30px;
  }

  button {
    width: 200px;

    &:focus {
      outline: 0px !important;
    }
  }

  input,
  textarea {
    width: 100%;
  }

  input,
  textarea {
    border: none;
    padding: 15px;

    &:focus {
      outline: 0px !important;
    }
  }

  .errorMessage {
    color: $orange;
  }
}

/* FOOTER */
footer {
  background: darken($darkGrey, 5%);

  .logo {
    position: absolute;
    bottom: 0;
  }

  .social-media {
    width: 30px;
  }

  .links {
    color: white;
    font-family: "BrandonText-Regular";

    &:hover {
      text-decoration: none;
      color: $orange !important;
    }
  }

}

/* MEDIA QUERIES */
@media (max-width: 765px) {
  .navbar-collapse {
    display: flex;
    justify-content: end;

    .navbar-nav {
      background-color: rgba($darkGrey, .9);
      padding-left: 30px !important;
    }
  }
  #home {
    .text {
      margin-top: 10vh;
    }

    .illustration {
      right: 1vw !important;

      img {
        opacity: .8;
      }
    }
  }

  footer {
    padding-bottom: 20px;
    background-color: $darkGrey !important;

    .logo {
      background-color: rgba(0, 0, 0, 0) !important;
      position: static;
    }
  }
}

@media (max-height: 415px) {
  #concept {
    height: 150vh;
  }
}

@media (max-height: 800px) {
  #pricing {
    padding-bottom: 30vh;
  }
}

@media (max-width: 850px) {
  #home {
    .illustration {
      top: 50px;

      img {
        opacity: .8;
      }
    }
  }
  #prices {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    justify-content: start;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0) !important;

    .navbar-nav {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      background-color: rgba(0, 0, 0, 0) !important;
      padding-left: 30px !important;
      height: 100%;
      width: 100%;
    }
  }

  #pricing {
    padding-bottom: 30vh;

    .pricing_card {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .prices_display {
    display: flex !important;
    flex-direction: row !important;
  }
}

@media (max-width: 1024px) {
  #concept,
  #pricing {
    height: 100%;
    padding-bottom: 50px;
  }
  #medias {
    min-height: 100%;
  }
}

@media (min-width: 1500px) {
  h1 {
    font-size: 2.8vw;
  }
}

@media (min-width: 2580px) {
  .container {
    max-width: 55vw;
  }

  .pricing_card {
    width: 450px !important;
    height: 650px !important;

    .subscription {
      font-size: 2.7em !important;
    }
  }

  .pricing {
    font-size: 5rem !important;
  }

  .fonction {
    margin-top: 100px !important;

    .presentation {
      font-size: 1.7rem !important;
      line-height: 1.2em !important;
    }
  }
}