/* GENERAL */
$bottomColor: rgb(42, 41, 41);


@font-face {
  font-family: "BrandonGrotesque-Bold";
  src: url("/fonts/BrandonGrotesque-Bold.otf");
 }
 @font-face {
  font-family: "BrandonText-Regular";
  src: url("/fonts/BrandonText-Regular.otf");
 }

h1 {
  font-size: 3.3vw;
  font-family: "BrandonGrotesque-Bold";
  z-index: 5;
}

h2 {
  font-size: 24pt;
  font-family: "BrandonGrotesque-Bold";
}

h5 {
  font-size: 20pt;
  font-weight: bold;
}

p {
  z-index: 5;
  font-size: 12pt;
  font-family: "BrandonText-Regular";
}


.button {
  margin-top: 2%;
  z-index: 5;
  font-weight: bold;
  font-family: "BrandonText-Regular";
  background-color: orange;
  border: 0 solid black;
  padding: 7pt 10pt;
  color: white;
  text-decoration-line: none;
  min-width: 150px;
  font-size: 14pt;
  &:hover {
    background-color: darkorange;
    text-decoration-line: none;
    color: white;
  }
}

/* NAVBAR */
.navbar {
  background: linear-gradient(#000, rgb(13, 13, 13)) !important;
  padding: 0;
  .navLogo {
    padding: 10px 0;
    background-color: rgba(255,255,255,.1);
      .logo {
        max-width: 10vw;
        max-height: 10vh;
      }
      span {
        margin-left: 10px;
        font-family: "BrandonGrotesque-Bold";
        font-size: 1.6vw;
        margin-right: 48px;
      }
  }
  .navbar-toggler {
    margin: 10px 15px;
  }
  .navbar-collapse {
    padding: 5px !important;
  }
  a {
    font-family: "BrandonText-Regular";
    font-size: 1.4vw;
    color: white !important;
    z-index: 5;
    &:hover {
      text-decoration: none;
    }
  }
}

/* HOME */
#home { 
  min-height: 100vh;
  background: linear-gradient(#1C1C1C,#262626,#1C1C1C);
  color: white;
  .text {
    padding-top: 35vh;
  }
  .bgColor {
    padding: 0 7vw;
    background: linear-gradient(rgba(0,0,0,.6), transparent);
  }
  p {
    margin-top: .5em;
    line-height: .9em;
  }
  .illustration {
    position: absolute;
    top: 0;
    left: 50vw;
    img {
      max-height: 100vh;
      mask-image: linear-gradient(to top, rgba(0,0,0,1) 70%, rgba(0,0,0,0));
    }
  }
}

/* CONCEPT */
#concept {
  min-height: 100vh;
  background-image: url("/images/background_vagues_top.jpg");
  background-position: bottom;
  display: flex;
  .plaque {
    max-width: 70vw;
    max-height: 70vh;
  }
}

@media (max-height: 415px) {
  #concept {
    height: 150vh;
  }
}

/* PRICING */
#pricing {
  min-height: 100vh;
  background-image: url("/images/background_vagues_bottom.jpg");
  background-position: top;
  .pricing_card {
    width: 350px;
    height: 550px;
    border-radius: 20px;
    transition: transform .3s;
    &::after {
      transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 5), 0 6px 20px 0 rgba(0, 0, 0, .15);
    }
    &:hover,
    &:focus {
      transform: scale3d(1.020, 1.020, 1);
    }
    &:hover {
      border-radius: 20px;
    }
    .card-header {
      background-color: white;
      border-bottom: 0;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15vh;
      }
    }
    .pricing {
      font-size: 28pt;
      font-weight: bold;
    }
  }
}

/* FOOTER */
footer {
  padding: 4vw;
  background: pink;
  min-height: 100px;
  img {
    display: block;
    max-width: 10vw;
    max-height: 10vh;
  }
  .footer_links {
    .links_footer {
      color: black;
      text-decoration: none;
      position: absolute;
      top: 50%;
    }
  }
  .footer_socials_links {
    .social_links {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: white;
      position: absolute;
      margin-top: 25px;
    }
    a {
      color: black;
      .fab {
        position: absolute;
      }
      .fa-facebook-f {
        margin:6px 12px;
      }
      .fa-twitter, .fa-linkedin-in {
        margin:7px 8px;
      }
    }
  }
}

#medias {
  background: linear-gradient(
    top,
    rgba(163,163,163,1) 0%,
    rgba(135,134,132,1) 10%,
    rgba(224,151,4,1) 10%,
    rgba(240,160,0,1) 90%,
    $bottomColor 90%,
    $bottomColor 100%
  );
  min-height: 120vh;
}

#speakers,
#prices {
  background-color: #fff;
  padding: 50px 0;
  img {
    object-fit: contain;
  }
  p {
    margin: 0;
    font-size: 12pt;
  }
}

#prices {
  margin-top: 50px;
  align-content: flex-end;
}

/* CONTACT */
#contact {
  color: white;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background: $bottomColor;
  input,
  textarea,
  button {
    width: 100%;
  }
  input,
  textarea {
    border: 1px solid black;
    padding: 10px;
  }
  .errorMessage {
      color: orange;
  }
}

@media (max-width: 1024px) {
  #concept,
  #pricing {
    height: 100%;
    padding-bottom: 50px;
  }
  #medias {
    min-height: 100%;
  }
}

@media (max-width: 770px) {
  #home {
    .text {
      padding-top: 35vh;
    }
    h1 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.3em;
    }
    .button {
      font-size: 1.8em;
    }
    .illustration {
      position: absolute;
      top: 0;
      left: 10vw;
      img {
        mask-image: linear-gradient(to top, rgba(0,0,0,1) 40%, rgba(0,0,0,0));
      }
    }
  }
  #prices {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  footer {
    padding: 5vw;
    height: 150px;
    .footer_links {
      margin-left: 15px;
      margin-top: 10px;
      .links_footer {
        position: initial;
        margin-top: 15px;
      }
    }
    .socials_links_fb {
      margin-left: 210px;
      margin-top: -70px;
    }
    .socials_links_twitter {
      margin-left: 260px;
      margin-top: -70px;
    }
    .socials_links_in {
      margin-left: 310px;
      margin-top: -70px;
    }
  }
}

